@import "tailwindcss";

:root, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #09090b;
  color: #e4e4e7;
}

.text-gradient {
  background: linear-gradient(to right, #4ade80, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}